{% extends '@dsarhoyaBase/Error/error.html.twig'%}
{% block link %}
    {% if is_granted('ROLE_ADMIN') %}
        {%set url = path('admin_index')%}
    {% elseif is_granted('ROLE_USER') %}
        {%set url = path('user_home', {companyId: app.request.get('companyId')})%}
    {% endif %}
    {%set url_display = 'Volver al inicio'%}
    {{parent()}}
{%endblock%}