@charset "UTF-8";
/* CSS Document */

body{
    font-family:Arial, Helvetica, sans-serif;
}
	
#error{
    height: 400px;
    margin: 150px auto 0;
    width: 870px;
}

#cuatrocientoscuatro{
    /*background-image:url(img/404.jpg);*/
    background-repeat: no-repeat;
    height: 220px;
    padding: 50px 0 0 55px;
    width: 868px;
}	
	
#quinientos{
    /*background-image:url(img/500.jpg);*/
    background-repeat: no-repeat;
    height: 220px;
    margin: 10px 0 0 55px;
    padding: 15px 0 0;
    width: 868px;
}	
	
#quinientos p{
    padding-top:5px;
    margin:0;
}

	
#logo{
    float: left;
    margin-left: 50px;
    width: 400px;
}
	
.name {
    margin-left:56px;
    margin-top:10px;
}
		
.name h1{
    display:inline-block;
    font-size:21px;
    font-weight:500;
}

.name p{
    display:inline-block;
    color:#999;
    font-size:18px;
    margin-left:5px;
}
	
#ups{
    font-size:35px;
    color:#D3DC52;
    font-weight:500;
}
	
#quinientostres{
    background-image:url(img/503.jpg);
    background-repeat:no-repeat;
    width:868px;
    height:220px;
    padding:30px 0 0 20px;
    margin:0 0 0 30px;
}	

.mail{
    font-size:14px;
    padding-top:13px;
}

.mail a{
	color:#666;
    text-decoration:none;
}
	
.mail a:hover{
    color:#D3DC52;
}	
        

#home{
    width:385px;
    float:left;
    text-align:right;
    margin-top:20px;
}

#home a{
    text-decoration:none;
    color:#41444B;
    padding-left:10px;
}

#home a:hover{
    color:#999;
}
		
.clear{
    clear:both;
}
	
.home2{
    width:360px !important;
}

/*Error 403*/


#ups2{
	font-size:35px;
	color:#D3DC52;
	font-weight:500;
	display:inline-block;
	}	
	
.texto{
	display:inline-block;
	margin-bottom:20px;
	}
	
.texto p{
	width:70%;
	display:inline-block;
	padding-left:15px;
	}
	
.texto h1{
	width:10%;
	display:inline-block;
	text-align:right;
	}
	
.Mleft{
	margin-left:30px;}