/* 
    Document   : login
    Created on : Dec 17, 2013, 7:24:03 PM
    Author     : kito
    Description:
        Purpose of the stylesheet follows.
*/
#login{
    margin-top: 20%;
    padding: 40px 10px;
    border: solid thin #dddddd;
    border-radius: 10px;
}

#login input{
    display:block;
    width: 100%;
    margin: 10px 0px;
    height: 2.5em;
    border: solid thin #bbbbbb;
    padding: 3px 10px;
    border-radius: 4px;
}

#login button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.fixed{
    position: fixed;
    
}
.bottom{
    bottom: 0;
}
.right{
    right: 0;
}
.left{
    left: 0;
}
