{% extends '@dsarhoyaBase/Layout/layout.html.twig'%}

{% block body%}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="login">
        <form action="{{path('askAccessCode')}}" method="post" class="form-ask-retrieve">
            <h4 class="help"> Por favor, ingrese el código numérico enviado a su correo ({{app.user.email}}): </h4>
            <input type="text" class="form-control" placeholder="Ingresa el código..." name="accessCode"/>
            <button type="submit" class="btn btn-default btn-info">Ingresar</button> 
        </form>
        </div>
    </div>
</div>
{% endblock %}