{% extends '@dsarhoyaBase/Layout/layout.html.twig'%}

{% block body%}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="login">
        {{ form_start(form, { attr: { class: 'form-ask-retrieve' } }) }}
        {{ form_errors(form) }}
            <h4 class="help"> Para recuperar tu contraseña, ingresa tu email</h4>
            {% if message %}
                <div class="alert alert-info">{{ message }}</div>
            {% endif %}
            {{form_widget(form.email, {'attr':{'placeholder': form.email.vars.label}})}}
            <div class="controls-ask-retrieve">
                <button type="submit" class="btn btn-default btn-info">Enviar</button> 
                <a href="{{path('base_bundle_login')}}">Volver</a>
            </div>
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
