{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content %}
<h1>Usuarios empresa {{company.name}}</h1>
{% if users is empty%}
<div class="alert alert-warning"><p>No hay usuarios registrados en el sistema</p></div>
{%else%}
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Empresa</th>
        <th>Perfil</th>
        <th>Estado</th>
        <th>Cód.Acceso</th>
        <th>Cuenta validada</th>
        <th>Creado</th>
        <th></th>
    </tr>
    {% for user in users%}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.company.name}}</td>
        <td>{{user.profile?user.profile.name:null}}</td>
        <td>
            <a href="javascript:$.get('{{path('base_bundle_superadmin_users_toggle_state',{userId: user.id, companyId: company.id})}}',function(data){$('#userState_{{user.id}}').html(data);})">
                <span id="userState_{{user.id}}">
                {%if user.state==1%}
                    <i class="fa fa-check"></i>
                {%else%}
                    <i class="fa fa-ban"></i>
                {%endif%}
                </span>
            </a>
        </td>
        <td>
            {%if user.accessCode==1%}
                <i class="fa fa-check"></i>
            {%endif%}
        </td>
        <td>{% if user.accountValidated %} Sí {%else%}
            No
            <a href="#" onclick="javascript:
                        $.get('{{path('base_bundle_superadmin_users_send_validation_email',{userId: user.id, companyId: company.id})}}',{},
                        function(data){
                            alert(data);
                        });">
                <i class="fa fa-envelope-o"></i>
            </a>

        {% endif %}</td>
        <td>{{user.createdAt ? user.createdAt|date('d-m-Y H:i') : 'Sin fecha'}}</td>
        <td class="text-right">
            <a title="Editar" href="{{path('base_bundle_superadmin_users_edit',{userId: user.id, companyId: company.id})}}">
                <i class="fa fa-edit"></i>
            </a>
            {% for rol in user.getRoles %}
                <a href="{{path(rol|routeForRole ,{_switch_user:user.email})}}" title="Personificar: {{rol}}">
                    <i class="fa fa-user"></i>
                </a>
            {% endfor %}
            <a href="{{path('base_bundle_superadmin_users_change_password',{userId: user.id, companyId: company.id})}}" title="cambiar contraseña">
                <i class="fa fa-key"></i>
            </a>
            <a href="{{path('base_bundle_superadmin_users_delete',{userId: user.id, companyId: company.id})}}" onclick="javascript: return confirm('Estas seguro que quieres borrar el usuario {{user.name}}');">
                <i class="fa fa-times-circle"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<a class="btn btn-info" href="{{path('base_bundle_superadmin_users_new', {companyId: company.id})}}">Crear usuario</a>
{% endblock %}
