{% extends '@dsarhoyaBase/Layout/layout.html.twig'%}

{% block body%}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="login">
        {% if form is defined %}
            <h4 class="help"> {{title is defined ? title : 'Ingresa tu contraseña dos veces'}}</h4>
            <form action="{{form.vars.action}}" method="post" class="form-ask-retrieve">
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}  
                {{form_widget(form.pass, {'attr':{'placeholder': form.pass.vars.label}})}}
                {{form_widget(form.repeatedPass, {'attr':{'placeholder': form.repeatedPass.vars.label}})}}
                {{form_widget(form._token)}}
                <div class="controls-ask-retrieve">
                    <button type="submit" class="btn btn-default btn-info">Cambiar</button> 
                    <a href="{{path('base_bundle_login')}}">Volver</a>
                </div>
            </form>
        {% else %}
            <h2 class="help">Error</h2>
            <p>{{message}}</p><a href="{{path('base_bundle_login')}}">Volver</a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}