{%if companyName %}
    <p>La empresa {{companyName}} te ha creado una cuenta para entrar al sistema {{serviceName ? serviceName : 'de la empresa dsarhoya'}}.</p>
{%else%}
    <p>Te han creado una cuenta para entrar al sistema {{serviceName ? serviceName : 'de la empresa dsarhoya'}}.</p>
{%endif%}
<p>Para activar tu cuenta, usa <a href="{{url}}" target="_blank">esta url</a>.</p>

<p>Si crees que este correo te llegó por error, puedes borrarlo.</p>