{%if tracking_code is defined and tracking_code %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', '{{tracking_code}}', 'auto');
        
        {%if hide_ending_numbers is defined and hide_ending_numbers %}
            var path = window.location.pathname;
            var re = /(.)\/\d+/;
            var clean_path = path.replace(re, "$1");
            
            ga('send', 'pageview', clean_path);
        {%else%}
            ga('send', 'pageview');
        {%endif%}
            
    </script>
{%endif%}