{% block submitandcancel_row %}
    {% spaceless %}
        <div class="">
            {{- form_widget(form) -}}
            &nbsp;
            <a class="{{cancel_class}}" href="{{cancel_url}}">{{cancel_label}}</a>
        </div>
    {% endspaceless %}
{% endblock %}