{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content%}
<h1>Opciones</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td>Mantenimiento</td>
            <td><a href="{{path('base_bundle_superadmin_options_maintenance')}}"><i class="fa fa-search"></i></a></td>
        </tr>
    </table>
</div>
{% endblock %}