{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content%}
<h1>Mantenimiento</h1>

{{flash()}}

{%if in_maintenance%}
<p class="alert alert-danger">Actualmente en mantenimiento!</p>
{%else%}
<p class="alert alert-success">Sistema abierto</p>
{%endif%}

{{form(form)}}
{% endblock %}