{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content%}
<h1>{{company.name}} <small>({{company.stateString}})</small></h1>
<table class="table table-bordered">
    <tr>
        <th>Razón social</th>
        <td>{{company.name}}</td>
        <th>Rut</th>
        <td>{{company.rut}}</td>
    </tr>
    <tr>
        <th>Dirección</th>
        <td>{{company.address}}</td>
        <th>Comuna</th>
        <td>{{company.locality}}</td>
    </tr>
    <tr>
        <th>Notas</th>
        <td colspan="3">{{company.notes}}</td>
    </tr>
</table>
{% endblock %}
