{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content%}
<h1>Empresas</h1>
{% if companies is empty%}
<div class="alert alert-warning"><p>No hay empresas registradas en el sistema</p></div>
{%else%}
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Estado</th>
        <th>Max.Sesiones</th>
        <th></th>
    </tr>
    {% for company in companies%}
    <tr>
        <td>{{company.name}}</td>
        <td>{{company.address}}</td>
        <td>
            <a href="javascript:$.get('{{path('base_bundle_superadmin_company_toggle_state',{'companyId':company.id})}}',function(data){$('#companyState_{{company.id}}').html(data);})">
                <span id="companyState_{{company.id}}">
                {%if company.state==1%}
                    <i class="fa fa-check"></i>
                {%else%}
                    <i class="fa fa-ban"></i>
                {%endif%}
                </span>
            </a>
        </td>
        <td>{{company.getMaxConcurrentSessions}}</td>
        <td class="text-right">
            <a title="usuarios" href="{{path('adminGetUsers',{'companyId':company.id})}}">
                <i class="fa fa-users"></i>
            </a>
            <a title="perfiles" href="{{path('adminGetProfiles',{'companyId':company.id})}}">
                <i class="fa fa-bars"></i>
            </a>
            <a title="ver empresa" href="{{path('base_bundle_superadmin_company_get',{'companyId':company.id})}}">
                <i class="fa fa-search"></i>
            </a>
            <a title="editar empresa" href="{{path('adminUpdateCompany',{'companyId':company.id})}}">
                <i class="fa fa-edit"></i>
            </a>
            <a title="eliminar empresa" href="{{path('adminDeleteCompany',{'companyId':company.id})}}" onclick="javascript: return confirm('Seguro que quieres borrar la empresa {{company.name}}');">
                <i class="fa fa-times-circle"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<a class="btn btn-info" href="{{path('adminPutCompany')}}">Crear empresa</a>
{% endblock %}
