{% extends '@dsarhoyaBase/Layout/layout.html.twig'%}

{% block body %}
<div>
    <a href="{{path('adminGetCompany')}}">Empresas</a>
    {#<a href="{{path('adminGetUser')}}">Usuarios</a>#}
    {#<a href="{{path('adminGetProfiles')}}">Perfiles</a>#}
    <a href="{{path('base_bundle_superadmin_options_index')}}">Opciones</a>
    {# <a href="{{path('adminActivityIndex')}}">Actividad</a> #}
    {#<a href="{{path('adminGetCommands')}}">Commands</a>#}
    {{ render(url('base_bundle_superadmin_extensions_index')) }}
    <a href="{{path('base_bundle_logout')}}">Salir</a>
</div>
{% block content %}{% endblock %}
{% endblock %}