{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content%}
    <h1>Permisos <small><a href="{{path('adminGetProfiles', {companyId: profile.company.id})}}">volver</a></small></h1>
<h4>Editando el perfil {{profile.name}}, de la empresa {{profile.company.name}}</h4>
{% include '@dsarhoyaBase/Permission/permissionsFormBase.html.twig'%}
{% endblock %}
