{{ form_start(form) }}
{{ form_errors(form) }}
{% for key, title in titles %}
    <div id="{{ key }}" class="title-permisos">
        <h3>{{ title }}</h3>
        {% set encontrado = 0 %}
        {% for child in form.children %}
            {% if child.vars.id != 'form_guardar' and child.vars.id != 'form__token' and child.vars.attr.title == title %}
                {% set encontrado = 1 %}
                 <div class="accion_perfil">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endif %}
        {% endfor %}
        {% if not encontrado %}
            <p>No hay permisos</p>
        {% endif %}
    </div>
{% endfor %}
<br />
{{ form_widget(form.guardar, {'attr': {'class': 'btn btn-primary btn-large'}}) }}
{{ form_end(form) }}
