{% extends '@dsarhoyaBase/Layout/layout.html.twig'%}

{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="login">
            <div class="signin">
                <form action="{{path('base_bundle_login')}}" method="post" class="form-signin">
                    <h2 class="form-signin-heading"> Ingresa tus datos  </h2>
                    <input id="username" class="input-block-level" type="text" placeholder="Email" id="username" name="_username" autocomplete="off" value="{{ last_username }}">
                    <input id="password" class="input-block-level" type="password" placeholder="Contraseña" id="password" name="_password" autocomplete="off"/>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}  
                    {% for flashMessage in app.session.flashbag.get('logout_message') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <button class="btn btn-info" type="submit"> Ingresar </button>
                    <a href="{{path('base_bundle_ask_retrieve_password')}}">¿Olvidaste tu contraseña?</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
