{% extends '@dsarhoyaBase/Layout/layout.html.twig'%}

{% block body%}
<div class="row">
<div class="col-md-4 col-md-offset-4">
    <div id="login">
            <div class="signin">
                <div class="alert alert-danger">
                    <h3>{{under_maintenance_title}}</h3>
                    <p>{{under_maintenance_message}}<p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}