{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content%}
<h1>Actividad</h1>
<div class="row">
    <div class="col-md-4">
        {{flash()}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="alert alert-info">{{filter}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{form(form)}}
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Sesiones</th>
                <th>Horas activo</th>
            </tr>
        </thead>
        <tbody>
            {%for user_activity in activity%}
                <tr>
                    <td>{{user_activity.name}}</td>
                    <td>{{user_activity.company}}</td>
                    <td>{{user_activity.sessions}}</td>
                    <td>{{user_activity.active_hours}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}