<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}dsarhoya SpA{% endblock %}</title>
{% block stylesheets %}
        <link href="{{asset('bundles/dsarhoyabase/css/default_error.css')}}" rel="stylesheet">
{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/dsarhoyabase/img/favicon_dsy.png') }}" />
    </head>

    <body>
        <div id="error">

            <div>
                <div id="logo">
                    <a href="http://www.dsarhoya.cl" target="_blank"><img src="{{asset('bundles/dsarhoyabase/img/logo_error.jpg')}}" width="313" height="55"></a>
                </div>
                {% block link %}
                    {%if url is defined and url_display %}
                        <div class="home2" id="home">
                            <img width="27" height="21" src="{{asset('bundles/dsarhoyabase/img/home.jpg')}}"><a href="{{url}}">{{url_display}}</a>
                        </div>
                    {%endif%}
                {% endblock %}
                <div class="clear"></div>
            </div>
            {% block name %}
                <div class="name">
                    <h1>Error</h1><p>en la página</p>
                </div>
            {% endblock %}
            
            {% block type %}
                <div id="quinientos" style='background-image:  url("{{asset('bundles/dsarhoyabase/img/500.jpg')}}");'>
                    <div id="ups">
                        <strong>¡Ups!</strong>
                    </div>
                    <br />
                    <p>Ha ocurrido un error inesperado. </p>
                    <p>Intenta actualizar tu navegador.</p>
                    <br />
                    <p class="mail">Si tienes dudas escríbenos a <a href="mailto:contacto@dsarhoya.cl">contacto@dsarhoya.cl</a></p>
                </div>    
            {% endblock %}

        </div>
    </body>
</html>
