<div class="mensajes">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger {{dismissible?'alert-dismissible'}}"  role="alert">
            {% if dismissible %}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {% endif %}
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success {{dismissible?'alert-dismissible'}}"  role="alert">
            {% if dismissible %}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {% endif %}
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info {{dismissible?'alert-dismissible'}}"  role="alert">
            {% if dismissible %}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {% endif %}
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning {{dismissible?'alert-dismissible'}}"  role="alert">
            {% if dismissible %}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {% endif %}
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>