{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content%}
    <h1>Perfiles {{company.name}} <small><a href="{{path('adminGetCompany')}}">volver</a></small></h1>

    {%set contadorPerfiles = 0 %}
    {% for profile in company.profiles%}
        {%set contadorPerfiles = contadorPerfiles + 1 %}
    {% endfor %}

    {% if contadorPerfiles == 0%}
    <div class="alert alert-warning"><p>No hay perfiles registrados en el sistema</p></div>
    {%else%}
    <table class="table table-striped">
        <tr>
            <th>Empresa</th>
            <th>Nombre</th>
            <th>Es admin?</th>
            <th></th>
        </tr>
            {% for profile in company.profiles%}
                <tr>
                    <td>{{profile.company.name}}</td> 
                    <td>{{profile.name}}</td> 
                    <td>{{profile.isAdmin ? 'Sí' : 'No'}}</td> 
                    <td>
                        <a class="actionAnchor" 
                           href="{{path('adminUpdateProfile',{ profileId: profile.id, companyId: profile.company.id})}}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="actionAnchor" 
                           href="{{path('adminUpdateProfilePermissions',{profileId: profile.id, companyId: profile.company.id})}}">
                            <i class="fa fa-list-alt"></i>
                        </a>
                        <a onclick="javascript: return confirm('esta seguro? Todos los usuarios que tenían este perfil quedarán sin perfil asignado y no podrán entrar al sistema.');" href="{{path('adminDeleteProfile',{profileId: profile.id, companyId: profile.company.id})}}">
                            <i class="fa fa-times-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    {% endif %}
    <a class="btn btn-info" href="{{path('adminPutProfile', {companyId: company.id})}}">Crear perfil</a>
{% endblock %}
