{% extends '@dsarhoyaBase/Admin/index.html.twig'%}

{% block content %}
<h1>Crear perfil para empresa {{company.name}}</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{#<form id="formCrearPerfil" action="{{ path('adminPutProfile', {idCompany: company.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>#}
{% endblock %}
