{% extends '@dsarhoyaBase/Layout/errorLayout.html.twig'%}  

{% block name %}
    <div class="name">
        <h1>500</h1><p>Error en la página</p>
    </div>
{% endblock %}

{% block type %}
<div id="quinientos" style='background-image:  url("{{asset('bundles/dsarhoyabase/img/500.jpg')}}");'>
    <div id="ups">
        <strong>¡Ups!</strong>
    </div>
    <br />
    <p>Tenemos un problema al cargar esta página. </p>
    <p>Intenta actualizar tu navegador.</p>
    <br />
    <p class="mail">Si tienes dudas escríbenos a <a href="mailto:contacto@dsarhoya.cl">contacto@dsarhoya.cl</a></p>
</div>    
{% endblock %}