{% extends '@dsarhoyaBase/Layout/errorLayout.html.twig'%}  

{% block name %}
    <div class="name">
        <h1>404</h1><p>Página no encontrada</p>
    </div>
{% endblock %}

{% block type %}
<div id="cuatrocientoscuatro" style='background-image:  url("{{asset('bundles/dsarhoyabase/img/404.jpg')}}");'>
    <div id="ups">
        <strong>¡Ups!</strong>
    </div>
    <p>No se encontró la página que estabas buscando. </p>
    <p class="mail">Si tienes dudas escríbenos a <a href="mailto:contacto@dsarhoya.cl">contacto@dsarhoya.cl</a></p>
</div>    
{% endblock %}