{% extends '@dsarhoyaBase/Layout/errorLayout.html.twig'%}  

{% block name %}{% endblock %}

{% block link %}
<div id="home">
    <a href="{{path('logout')}}">
        <img src="{{asset('bundles/dsarhoyabase/img/home.jpg')}}" width="27" height="21">
        Home
    </a>
</div>
{% endblock %}

{% block type %}
<div class="name texto">
    <div id="ups2">
    <strong>¡Ups!</strong>
    </div>
    <h1>403.</h1>
    <p>Alguien accedió al sistema con tus credenciales o se superó el número máximo de sesiones activas permitidas para tu empresa.</p>      
</div>
<div>
    <img src="{{asset('bundles/dsarhoyabase/img/403.jpg')}}" width="868" height="220">
    <p class="mail Mleft">Escribenos a <a href="mailto:contacto@dsarhoya.cl">contacto@dsarhoya.cl</a></p>
</div>      
{% endblock %}