{% extends '@dsarhoyaBase/Layout/errorLayout.html.twig'%}  

{% block name %}
    <div class="name">
        <h1>503</h1><p>Acceso denegado</p>
    </div>
{% endblock %}

{% block type %}
<div id="quinientostres" style='background-image:  url("{{asset('bundles/dsarhoyabase/img/503.jpg')}}");'>
    <div id="ups">
        <strong>¡Ups!</strong>
    </div>
    <br />
    <p>Lo sentimos... </p>
    <p class="mail">Si tienes dudas escríbenos a <a href="mailto:contacto@dsarhoya.cl">contacto@dsarhoya.cl</a></p>
</div>    
{% endblock %}