<html>
    <body>
        <ul>
            {% for test in tests %}
            <li>
                {{test.rut}} => {{test.violations?(test.violations|nl2br):'Bien'}}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
